/* GENERAL STYLYING */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&family=Libre+Baskerville:ital@0;1&display=swap');

:root {
    --dark-gray: rgb(50, 50, 50);
    --medium-gray: rgb(220, 220, 220);
    --light-gray: rgb(245, 245, 245);
}

body {
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    display: grid;
    grid: 1fr .2fr 5fr / minmax(300px, 1fr) 4fr;
    color: var(--dark-gray);
}

.bigIcon {
    height: 60px;
}

.smallIcon {
    height: 30px;
}

button {
    background-color: white;
    border: var(--dark-gray) 2px solid;
    background-color: white;
}

button:hover {
    background-color: var(--light-gray);
    cursor: pointer;
}

/* GENERAL LAYOUT */

#sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-color: var(--medium-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 0 0 0;
}

#logo {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-family: 'Libre Baskerville', serif;
    font-size: 2.5rem;
    font-weight: 400;
}

#header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em 5em;
    gap: 2em;
    font-size: 1em;
}

#addBook {
    width: 50px;
    height: 50px;
    padding: 0;
    font-size: 1.2em;
}

#transition {
    margin: 0 5em;
    padding: 0 5em;
    border-bottom: 1px var(--dark-gray) solid;
}

/* TABLE CONTENT */

#main {
    margin: 1em 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table {
    display: grid;
    width: 100%;
    grid: 1.2em / 1fr;
    grid-auto-rows: 1.2em;
    gap: .3em;
}

.table > .row {
    display: grid;
    grid: 1fr / 1fr 5fr 5fr 2fr 2fr 1fr;
    align-items: center;
}

.table > .row:nth-child(even) {
    background-color: var(--light-gray)
}

.row button {
    border: none;
    background-color: transparent;
    color: var(--dark-gray);
    font: inherit;
    font-size: inherit;
    padding: 0;
}

#statusToggle:hover {
    font-weight: bold;
}

.row svg {
    height: 1.2em;
}

.row svg:hover {
    fill: red;
}

#deleteBtn {
    display: flex;
    align-items: center;
}

/* POP-UP FORM */

#dimmer {
    position: absolute;
}

.dimmed {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 30%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#formContainer {
    background-color: white;
    padding: 2em;
}

form {
    display: flex;
    flex-direction: column;
    gap: .7em;
}

#closeBtn {
    border: none;
    margin-left: 85%;
    margin-bottom: 1em;
    padding: 0;
    display: flex;
}

button[type=submit] {
    margin-top: 1em;
    padding: 1.2em 0;
}

input[type=text] {
    width: 15em;
    font-family: inherit;
    font-size: inherit;
    padding: .5em;
    border: var(--medium-gray) 1px solid;
}

input[type=text]:focus {
    outline: none;
    border: var(--dark-gray) solid 1px;
}

input[type=text]:focus::placeholder {
    color: transparent;
}

input[type=text]::placeholder {
    color: var(--medium-gray);
    font-style: italic;
}

input:invalid:not(:placeholder-shown) {
    border: red solid 1px;
}

fieldset {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    border: var(--medium-gray) 1px solid;
}